{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% block heading %}Add Employee{% endblock %}

{% block content %}
<br>
<br>
<div style="margin: 0px 250px;">
    <form method="post">
        <div class="mb-3">
            <label for="empid" class="form-label">Employee Id</label>
            <input type="text" class="form-control" name="empid">
        </div>
        <div class="mb-3">
            <label for="empname" class="form-label">Employee Name</label>
            <input type="text" class="form-control" name="empname">
        </div>
        <div class="mb-3">
            <label for="empuname" class="form-label">Employee Username</label>
            <input type="text" class="form-control" name="empuname">
        </div>
        <div class="mb-3">
            <label for="emppass" class="form-label">Employee Password</label>
            <input type="password" class="form-control" name="emppass">
        </div>
        <div class="mb-3">
            <label for="empclr" class="form-label">Clearance level</label>
            <input type="text" class="form-control" name="empclr">
        </div>
        <div class="mb-3">
            <label for="empphno" class="form-label">Phone Number<small style="font-size: x-small;">(seperate
                    multiple numbers using a ',')</small></label>
            <input type="text" class="form-control" name="empphno">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}